@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Light.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Viner Hand";
  src: url("fonts/VinerHandITC.ttf");
}
* {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  border-collapse: collapse;
  text-decoration: inherit;
  color: inherit;
  list-style: none;
}
*:focus {
  outline: none;
}

html, body {
  position: relative;
  min-height: 100vh;
}

html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  overflow-y: scroll;
}

body {
  background-color: #222;
  color: #aaa;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  padding-top: 50px;
}
@media (max-width: 600px) {
  body {
    padding-top: 0;
  }
}

nav {
  display: block;
  color: #fff;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
nav ul, nav li {
  vertical-align: top;
}
@media (max-width: 600px) {
  nav {
    position: relative;
  }
}
nav a {
  display: block;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #ccc;
  line-height: 2em;
  width: 100%;
  transition: background-color 0.2s;
}
@media (min-width: 600px) {
  nav a {
    line-height: 50px;
  }
}
nav li.active a,
nav li:hover a {
  background-color: #333;
}
nav li a:hover {
  background-color: #666;
}
nav ul.navbar {
  background-color: #000;
  text-align: center;
  font-size: 0;
}
nav ul.navbar > li {
  position: relative;
}
nav ul.navbar > li > ul > li {
  display: block;
}
@media (max-width: 600px) {
  nav ul.navbar > li {
    border-bottom: 1px solid #666;
  }
  nav ul.navbar > li > a:not(:only-child) {
    display: none;
  }
}
@media (min-width: 600px) {
  nav ul.navbar > li {
    display: inline-block;
    width: 20%;
  }
  nav ul.navbar > li > ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }
  nav ul.navbar > li:hover > ul {
    display: block;
  }
}

header {
  animation: fadeIn 2s;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: margin-top 0.3s;
  font-family: "Viner Hand";
  color: #fff;
}
@media (min-width: 600px) {
  .home header {
    margin-top: 65vh;
  }
}
header h1 {
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -2px;
  text-shadow: -1px 1px 0 #000;
}
header h1 + p {
  letter-spacing: 3px;
  line-height: 16px;
}

main {
  padding-bottom: 50px;
}

section {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  line-height: 2.2em;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 600px) {
  section {
    margin: 0 10px;
    padding: 15px;
  }
}
section h1 {
  color: #fff;
  font-size: 32px;
  line-height: 48px;
}
section h2 {
  color: #fff;
  margin-top: 1em;
}
section pre {
  white-space: pre-wrap;
}
section p {
  margin: 2em 0;
  text-align: justify;
}
section p img {
  display: block;
  width: 100%;
}

footer {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  line-height: 50px;
}

.gallery {
  font-size: 0;
  width: 100%;
  box-sizing: border-box;
  min-height: 200px;
}
@media (min-width: 600px) {
  .gallery {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: stretch;
    -webkit-align-items: stretch;
  }
}
.gallery .imageLink {
  display: block;
  position: relative;
  background-position: center center;
  background-size: cover;
  height: 200px;
  margin: 5px;
  cursor: pointer;
  transition: opacity 0.2s;
}
.gallery .imageLink.notloaded {
  opacity: 0;
}
.gallery .imageLink:hover {
  opacity: 0.8;
}
.gallery .imageLink img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.01;
  -webkit-backface-visibility: hidden;
}
@media (min-width: 600px) {
  .gallery .imageLink {
    flex-basis: 30%;
    -webkit-flex-basis: 30%;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-shrink: 0;
    max-width: 50vw;
    min-width: 250px;
  }
}
.gallery .loading {
  display: block;
  animation: pulse 0.5s linear infinite alternate;
}
@media (min-width: 600px) {
  .gallery .loading {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }
}
.gallery .loading:after {
  content: "\2026";
  display: block;
  margin: 0 auto;
  font-size: 100px;
  line-height: 200px;
}

.home .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  animation: fadeInSemi 2s;
}

@keyframes fadeInSemi {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.lightbox {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  display: block;
  text-align: center;
}
.lightbox .secretLoader {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0.01;
  overflow: hidden;
}
.lightbox .slide {
  display: inline-block;
  position: relative;
  margin-top: 10vh;
}
.lightbox .slide .image {
  display: block;
  max-width: 640px;
  max-height: 80vh;
  width: auto;
  height: auto;
  margin: 0 auto;
  cursor: e-resize;
}
@media (max-width: 600px) {
  .lightbox .slide .image {
    max-width: 100%;
    max-height: 100%;
  }
}
.lightbox .slide .info {
  display: block;
  padding: 10px;
  margin: 0 auto;
  text-align: left;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.lightbox .slide .info h1 {
  color: #fff;
}
.lightbox .slide .info h1 .indx {
  float: right;
}
.lightbox .hide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: zoom-out;
  background-color: rgba(0, 0, 0, 0.7);
}
.lightbox .prev,
.lightbox .next {
  position: absolute;
  top: 50vh;
  font-size: 60px;
  line-height: 60px;
  margin-top: -50px;
  padding: 20px;
  transition: color 0.3s;
  cursor: pointer;
}
.lightbox .prev:hover,
.lightbox .next:hover {
  color: #fff;
}
@media (max-width: 600px) {
  .lightbox .prev,
  .lightbox .next {
    display: none;
  }
}
.lightbox .prev {
  left: 0;
  cursor: w-resize;
}
.lightbox .next {
  right: 0;
  cursor: e-resize;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
nav {
  z-index: 9980;
}

.background {
  z-index: -1;
}

.lightbox {
  z-index: 9990;
}
.lightbox .hide {
  z-index: 9991;
}
.lightbox .slide {
  z-index: 9992;
}
.lightbox .next,
.lightbox .prev {
  z-index: 9994;
}
