doctype html
html
  head
    title Cynthia Corio-Poli, Design
    link(rel="stylesheet" href="/styles.css")
    script(src="/dev/angular.min.js")
    script(src="/dev/angular-ui-router.min.js")
    script(src="/script.js")
    base(href="/")
  body(data-ng-app="app")
    - var c = "collections"
    - var a = "about"
    nav
      ul.menu
        li.active
          a(data-ui-sref="home") HOME
        li
          a(data-ui-sref="page({title: 'galleries'})") COLLECTIONS
          ul.submenu
            li: a(data-ui-sref="gallery({title: 'rings'})") RINGS
            li: a(data-ui-sref="gallery({title: 'accessories'})") ACCESSORIES
            li: a(data-ui-sref="gallery({title: 'art'})") ART OBJECTS
        li
          a(data-ui-sref="page({title: 'about'})") ABOUT
          ul.submenu
            li: a(data-ui-sref="page({title: 'about'})") ME
            li: a(data-ui-sref="page({title: 'techniques'})") TECHNIQUES
        li
          a(data-ui-sref="page({title: 'contact'})") CONTACT
    
    header
      h1 CYNTHIA CORIO - POLI
      p DESIGN
      h2(data-ng-bind="title")
    
    main(data-ui-view)
    
    footer
      p &copy; CYNTHIA CORIO-POLI, 2016
    