doctype html
html
  head
    title Cynthia Corio-Poli, Design
    link(rel="stylesheet" href="/styles.css")
    script(src="/dev/angular.min.js")
    script(src="/dev/angular-ui-router.min.js")
    script(src="/dev/jquery.min.js")
    script(src="/script.js")
    base(href="/")
  body(data-ng-app="app" data-ng-class="title")
    - var c = "collections"
    - var a = "about"
    div.background(style="background-image:url(http://i.imgur.com/P38vmWb.jpg)")
    nav
      ul.menu
        li
          a(data-ui-sref="home") HOME
        li
          a(href="#") COLLECTIONS
          ul.submenu
            li: a(data-state="collection") RINGS
            li: a(data-state="collection") ACCESSORIES
            li: a(data-state="collection") ART
        li
          a(href="#") ABOUT
          ul.submenu
            li: a ABOUT
            li: a TECHNIQUES
        li
          a CONTACT
    
    header
      h1 CYNTHIA CORIO - POLI
      p DESIGN
    
    main(data-ui-view)
    
    footer
      p &copy; CYNTHIA CORIO-POLI, 2016
    