$nav-height: 50px;
$foot-height: 50px;
$grey-lt: #949494;
$grey-md: #595959;

*{
  margin:0;
  border:0;
  padding:0;
  font-size:inherit;
  font-family:inherit;
  font-weight:inherit;
  font-style:inherit;
  border-collapse:collapse;
  text-decoration:inherit;
  color:inherit;
  list-style:none;
  
  &:focus{
    outline:none;
  }
}
html, body{
  position:relative;
  min-height:100vh;
}
html{
  font-family:"Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size:14px;
}
body{
  background-color:#222;
  color:#fff;
  text-align:center;
  height:100%;
  padding-top:$nav-height;
  padding-bottom:$foot-height;
}
nav{
  display:block;
  background-color:#000;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  ul, li{
    vertical-align:top;
  }

  .menu{
    width:80%;
    margin:0 auto;
    font-size:0;
    
    & > li{
      display:inline-block;
      position:relative;
      width:25%;
      
      a{
        transition: background-color 0.2s;
      }
      
      &:hover a,
      &.active a{
        background-color:#333;
        
        &:hover{
          background-color:#666;
        }
      }
      
      .submenu{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        opacity:0;
        visibility:hidden;
        transition:visibility 0.2s, opacity 0.2s;
      }
      &:hover .submenu{
        visibility:visible;
        opacity:1;
      }
    }
  }
  .submenu{
    
    & > li{
      display:block;
    }
  }
  
  a{
    display:block;
    font-weight:bold;
    font-size:16px;
    line-height:$nav-height;
    width:100%;
  }
}
header{
  animation: fadeIn 2s;
  margin:50px auto;
  
  .home &{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
  }
  
  h1{
    font-size:42px;
    font-weight:bold;
    letter-spacing:-2px;
    
    & + p{
      color:$grey-lt;
      letter-spacing:3px;
      line-height:16px;
    }
  }
}
footer{
  display:block;
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  background-color:#000;
  line-height:$foot-height;
  color:$grey-md;
}

.gallery{
  font-size:0;
  width:100%;
  box-sizing:border-box;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:stretch;
  min-height:200px;
  
  .image{
    display:block;
    flex-basis:24%;
    flex-grow:1;
    background-size:cover;
    background-position:center center;
    height:200px;
    margin:1%;
    animation:fadeIn 1s;
    opacity:1;
    transition:opacity 0.2s;
    cursor:pointer;
    
    &:hover{
      opacity:0.8;
    }
  }
  
  .loading{
    display:block;
    flex-basis:100%;
    animation:pulse 0.5s linear infinite alternate;
    
    &:after{
      content:"\2026";
      display:block;
      margin:0 auto;
      font-size:100px;
      line-height:200px;
      color:#666;
    }
  }
}

.lightbox{
  position:fixed;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  background-color:rgba(0,0,0,0.7);
  display:none;
  
  img{
    display:block;
    position:relative;
    margin:20vh auto 0 auto;
    max-width:80vw;
    max-height:60vh;
    width:auto;
    height:auto;
  }
  
  .controls{
    position:absolute;
    bottom:8vh;
    left:0;
    width:100%;
    text-align:center;
    
    div{
      display:inline-block;
      vertical-align:top;
      line-height:10vh;
      font-size:42px;
      color:#999;
      font-weight:bold;
      min-width:100px;
      transition:color 0.3s;
      cursor:pointer;
      
      &:hover{
        color:#fff;
      }
    }
  }
}

@keyframes fadeIn{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

@keyframes pulse{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

nav{
  z-index:9996;
}
.lightbox{
  z-index:9997;
}
.lightbox .trigger{
  z-index:9998;
}
.lightbox img{
  z-index:9999;
}