$nav-height: 50px;
$foot-height: 50px;
$grey-lt: #949494;
$grey-md: #595959;

*{
  margin:0;
  border:0;
  padding:0;
  font-size:inherit;
  font-family:inherit;
  font-weight:inherit;
  font-style:inherit;
  border-collapse:collapse;
  text-decoration:inherit;
  color:inherit;
  list-style:none;
  
  &:focus{
    outline:none;
  }
}
html, body{
  position:relative;
  min-height:100vh;
}
html{
  font-family:"Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size:14px;
}
body{
  background-color:#222;
  color:#fff;
  text-align:center;
  height:100%;
}
nav{
  background-color:#000;
  position:relative;
  z-index:9999;
  ul, li{
    vertical-align:top;
  }

  .menu{
    width:80%;
    margin:0 auto;
    font-size:0;
    
    & > li{
      display:inline-block;
      position:relative;
      width:25%;
      
      a{
        transition: background-color 0.2s;
      }
      
      &:hover a,
      &.active a{
        background-color:#333;
        
        &:hover{
          background-color:#666;
        }
      }
      
      .submenu{
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        opacity:0;
        visibility:hidden;
        transition:visibility 0.2s, opacity 0.2s;
      }
      &:hover .submenu{
        visibility:visible;
        opacity:1;
      }
    }
  }
  .submenu{
    
    & > li{
      display:block;
    }
  }
  
  a{
    display:block;
    font-weight:bold;
    font-size:16px;
    line-height:$nav-height;
    width:100%;
  }
}
header{
  animation: fadeIn 2s;
  margin:50px auto;
  
  .home &{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
  }
  
  h1{
    font-size:42px;
    font-weight:bold;
    letter-spacing:-2px;
    
    & + p{
      color:$grey-lt;
      letter-spacing:3px;
      line-height:16px;
    }
  }
}
footer{
  display:block;
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  background-color:#000;
  line-height:$foot-height;
  color:$grey-md;
}

@keyframes fadeIn{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}