<div class="gallery">
  <div data-ng-if="images.length < 1" class="loading"></div>
  <a class="imageLink notloaded" data-ng-repeat="image in images" data-ng-click="cycle($index)" data-ng-href="#{{$index}}" style="background-image:url({{image.thumb}})">
    <img data-ng-src="{{image.thumb}}" alt="{{image.description}}" onload="this.parentElement.classList.remove('notloaded')" />
  </a>
</div>

<div class="lightbox">
  <img class="secretLoader" />
  <div class="frame">
    <img class="image" alt="Main image" data-ng-click="cycle(1)" />
    <div class="info">
      <h1>{{image.title}} <span class="indx">{{index + 1}}/{{images.length}}</span></h1>
      <p>{{image.description}}</p>
    </div>
  </div>
  <div class="hide" data-ng-click="hide()"></div>
  <div class="prev" data-ng-click="cycle('-')">&lang;</div>
  <div class="next" data-ng-click="cycle('+')">&rang;</div>
</div>