<ul class="gallery">
  <li data-ng-if="images.length < 1" class="loading"></li>
  <li class="image" data-ng-repeat="image in images" style="background-image:url({{image.thumb}})" data-ng-click="reveal(); goto($index);">{{image.link}}</li>
</ul>

<div class="lightbox" id="lightbox">
  <div class="frame">
    <img class="iamge" src="#" alt="Main image" data-ng-click="cycle(1)" />
    <div class="info">
      <p class="title"></p>
      <p class="indx"></p>
      <p class="desc"></p>
    </div>
  </div>
  <div class="hide" data-ng-click="hide()"></div>
  <div class="prev" data-ng-click="cycle(-1)">&lang;</div>
  <div class="next" data-ng-click="cycle(1)">&rang;</div>
</div>