<!DOCTYPE html>
<html>
  <head>
    <title>Cynthia Corio-Poli, Design</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/dev/angular.min.js"></script>
    <script src="/dev/angular-ui-router.min.js"></script>
    <script src="/script.js"></script>
    <base href="/">
  </head>
  <body data-ng-app="app">
    <nav>
      <ul class="menu">
        <li class="active"><a data-ui-sref="home">HOME</a></li>
        <li><a data-ui-sref="page({title: 'galleries'})">COLLECTIONS</a>
          <ul class="submenu">
            <li><a data-ui-sref="gallery({title: 'rings'})">RINGS</a></li>
            <li><a data-ui-sref="gallery({title: 'accessories'})">ACCESSORIES</a></li>
            <li><a data-ui-sref="gallery({title: 'art'})">ART OBJECTS</a></li>
          </ul>
        </li>
        <li><a data-ui-sref="page({title: 'about'})">ABOUT</a>
          <ul class="submenu">
            <li><a data-ui-sref="page({title: 'about'})">ME</a></li>
            <li><a data-ui-sref="page({title: 'techniques'})">TECHNIQUES</a></li>
          </ul>
        </li>
        <li><a data-ui-sref="page({title: 'contact'})">CONTACT</a></li>
      </ul>
    </nav>
    <header>
      <h1>CYNTHIA CORIO - POLI</h1>
      <p>DESIGN</p>
      <h2 data-ng-bind="title"></h2>
    </header>
    <main data-ui-view></main>
    <footer>
      <p>&copy; CYNTHIA CORIO-POLI, 2016</p>
    </footer>
  </body>
</html>